@font-face {
    font-family: Montserrat Regular;
    src: url(assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat Semibold;
    src: url(assets/fonts/Montserrat-SemiBold.ttf);
}